.page__navigation {
    margin-top: 20px;
    flex-wrap: wrap;
}

.auction {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    &__main {
        flex: 1 1 70%;
        min-width: 0;
        margin-right: 20px;
    }
    &__search {
        position: relative;
        width: 100%;
        padding: 15px 50px;
        background: none;
        color: #fff;
        &-wrapper {
            position: relative;
            width: 100%;
            background: #171a1e;
            border-radius: 17px;
        }
        &-btn {
            position: absolute;
            cursor: pointer;
            z-index: 2;
            font-size: 0;
            width: 12px !important;
            height: 12px !important;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            background: url("../img/icons/search.svg") center / contain no-repeat;
        }
    }

    &__filterbar {
        display: block;
        position: relative;
        flex: 1 1 auto;
        background: #171a1e;
        border-radius: 17px;
        padding: 11px 25px 25px;
        overflow: hidden;
        max-height: 46px;
        &.is-active {
            max-height: 100%;
        }
    }

    &__filterbar__attribute {
        margin-top: 40px;
        &-heading {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 15px;
            margin-bottom: 20px;
            cursor: pointer;
            &:before {
                content: "";
                position: absolute;
                right: 4px;
                width: 1px;
                height: 8px;
                border: 1px solid #fff;
                transform: rotate(-45deg);
                transition: 0.3s ease;
            }
            &:after {
                content: "";
                right: 0;
                position: absolute;
                width: 1px;
                height: 8px;
                border: 1px solid #fff;
                transform: rotate(45deg);
                transition: 0.3s ease;
            }
            &.is-active:before {
                transform: rotate(45deg);
            }
            &.is-active:after {
                transform: rotate(-45deg);
            }
        }

        &-list {
            padding: 0 15px;
            height: 0;
            visibility: hidden;
            opacity: 0;
            &.is-active {
                visibility: visible;
                opacity: 1;
                height: 100%;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            margin-top: 15px;
        }
        &-input {
            visibility: hidden;
                width: 0px;
            &:checked + label:before {
                background: url(../img/icons/checkboxes/checkmark.svg) center / contain no-repeat;
                border: 2px solid #000;
                filter: invert(27%) sepia(94%) saturate(4436%) hue-rotate(230deg) brightness(102%) contrast(102%);
            }
        }
        &-label {
            margin-left: 28px;
            cursor: pointer;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                left: -28px;
                top: 50%;
                transform: translateY(-50%);
                border: 2px solid rgba(255, 255, 255, 0.1);
                border-radius: 5px;
            }
        }

        .auction__search-wrapper {
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    &__filterbar-heading {
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }
        &-showbtn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 25px;
            border: 1px solid #2f53ff;
            background: none;
            border-radius: 5px;

            &:before {
                content: "";
                position: relative;
                width: 1px;
                height: 8px;
                border: 1px solid #2f53ff;
                transform: rotate(-45deg);
                transition: 0.3s ease;
            }
            &:after {
                content: "";
                margin-left: 3px;
                position: relative;
                width: 1px;
                height: 8px;
                border: 1px solid #2f53ff;
                transform: rotate(45deg);
                transition: 0.3s ease;
            }
            &.is-active:before {
                transform: rotate(45deg);
            }
            &.is-active:after {
                transform: rotate(-45deg);
            }
        }
    }

    &__filterbar-grayp {
        color: rgba(255, 255, 255, 0.6);
    }

    &__filterbar-heading-checked-items {
        display: flex;
        flex-wrap: wrap;
        margin: 25px -5px -5px;
    }
    &__filterbar-heading-checked-item {
        position: relative;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        background: #171a1e;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 10px 15px;
        margin: 5px;

        .auction__filterbar-grayp {
            font-size: 12px;
            line-height: 1.5;
        }
        &:after {
            content: url("../img/icons/xmark.svg");
            margin-left: 15px;
        }
    }

    &__title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    &__categories-wrapper {
        padding-bottom: 30px !important;
        margin-top: 30px;
    }
    &__categories-pagination {
        width: auto !important;
        position: absolute;
        bottom: 0 !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
    &__category {
        width: calc(33% - 7px) !important;
        background: #171a1e;
        border-radius: 17px;
        padding: 15px 15px 30px;

        &-top {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 10px;
            margin-bottom: 20px;
            &-item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 10px;
                border-radius: 17px;
                text-align: center;

                &-img {
                    width: 100%;
                    height: 50px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &-img-name {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }
        &-bot {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 16px;
                margin-right: 15px;
            }
            .auction__category-change-btn {
                padding: 10px 25px;
                color: #2f53ff;
                border: 1px solid #2f53ff;
                border-radius: 10px;
                background: none;
                transition: 0.3s ease;
                &:hover {
                    background: #2f53ff;
                    color: #fff;
                }
            }
        }
    }

    &__content {
        margin-top: 30px;
    }

    &__cards {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        &.is-active {
            display: grid;
        }
    }

    &__card {
        background: #171a1e;
        border-radius: 17px;
        display: flex;
        flex-direction: column;
    }

    &__card-visual {
        padding: 15px;
        position: relative;
        border-radius: 17px;
        flex: 1 1 100%;
        max-height: 270px;
    }

    &__card-img {
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__card-sticker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        font-weight: 400;
        font-size: 10px;
        background: rgba(0, 0, 0, 0.74);
        color: #fff;
        border-radius: 20px;
        padding: 5px 10px 5px 35px;
        line-height: 1.2;
        z-index: 2;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 13px solid;
            left: 5px;
            top: 5px;
        }

        &.sticker-deposit {
            bottom: 10px;
            left: 10px;
            height: 36px;
            &:before {
                border-color: #2f53ff;
            }
        }
        &.sticker-email {
            top: 10px;
            left: 10px;
            height: 28px;
            padding: 5px 15px 5px 28px;
            &:before {
                border: 9px solid #f79e1b;
            }
        }
        &.sticker-payment {
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            &:before {
                display: none;
            }

            &.is-active {
                font-weight: 600;
                color: rgba(0, 0, 0, 0.7);
                background: #fff;
            }
            &.is-enabled {
                border: 1px solid #f79e1b;
            }
            &.is-disabled {
                font-weight: 600;
                color: rgba(0, 0, 0, 0.7);
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &__card-sticker-bigp {
        font-size: 14px;
        color: inherit;
    }
    &__card-sticker-p {
        font-size: 12px;
        color: inherit;
    }
    &__card-sticker-smp {
        font-weight: 300;
        color: inherit;
    }

    &__card-text {
        padding: 15px;
    }

    &__card-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__card-cost {
        margin-left: 15px;
    }

    &__card-smp {
        font-weight: 300;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__card-placesleft {
        color: inherit;
    }

    &__card-date {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 300;

        &.is-timer {
            background: #13161a;
            border-radius: 8px;
            padding: 10px;
        }
        &.is-disabled {
            color: rgba(255, 255, 255, 0.4);
        }
    }

    /*&__card-date-value {
    } */

    &__card-btn {
        width: calc(100% - 30px);
        margin: auto 15px 15px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: 0.3s ease;
        background: none;
        &.is-active {
            background: #00a76b;
            color: #fff;
        }
        &.is-disabled {
            color: rgba(255, 255, 255, 0.4);
            background: rgba(255, 255, 255, 0.07);
        }
        &.is-enabled {
            border: 1px solid #2f53ff;
            color: #2f53ff;
            &:hover {
                color: #fff;
                background: #2f53ff;
            }
        }
    }
}

$bg_colors: (1 "#1b264b") (2 "#163d4b") (3 "#414758") (4 "#272a2e") (5 "#3c2834");
@each $i, $bg_color in $bg_colors {
    .auction__category:nth-child(even) {
        .auction__category-top-item:nth-child(#{random(3)}) {
            background: #{$bg_color};
        }
    }
    .auction__category:nth-child(odd) {
        .auction__category-top-item:nth-child(#{random(3)}) {
            background: #{$bg_color};
        }
    }

    .auction__card:nth-child(#{$i}n) {
        .auction__card-visual {
            background: #{$bg_color};
        }
    }
}

@media (max-width: 1279px) {
    .auction {
        &__category {
            width: calc(50% - 7px) !important;
        }
        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 1024px) {
    .auction {
        margin-left: 0;
        flex-wrap: wrap;
        &__filterbar {
            flex: 1 1 100%;
            order: -1;
            margin: 20px 0 30px;
        }
    }
}

@media (max-width: 767px) {
    .auction {
        &__category {
            width: 100% !important;
        }
        &__cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
