.row1 {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    &__col1 {
        flex: 1 1 55%;
        margin: 10px;
        background: #1a1d22;
        border-radius: 17px;
        padding: 34px 27px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .gray-btn {
            margin-left: auto;
        }
        &__user-info {
            margin: 0 30px 0 20px;
        }
        .user-avatar-wrapper {
            min-width: 80px;
            max-width: 80px;
            min-height: 80px;
            max-height: 80px;
        }
        .user-id {
            white-space: nowrap;
            font-size: 20px;
        }
        .status-label {
            margin-bottom: 20px;
            white-space: nowrap;
        }
    }

    &__col2 {
        flex: 1 1 35%;
        margin: 10px;
        background: #1a1d22;
        border-radius: 17px;
        padding: 27px 34px;

        display: flex;
        align-items: center;

        .donutchart-text {
            font-weight: 500;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.4);
        }

        .tooltip {
            min-width: 16px;
            max-width: 16px;
            min-height: 16px;
            max-height: 16px;
            margin-left: 10px;
            background: url("../../img/icons/tooltip_icon.svg") center / contain no-repeat;
        }
    }
}

.row2 {
    display: flex;
    margin-top: 25px;
    padding: 25px;
    background: #171a1e;
    border-radius: 17px;

    max-width: calc(100vw - 385px);
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &__col1 {
        flex: 0 1 25%;
        padding-right: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        &__checklist {
            &-img {
                position: relative;
                text-align: center;
                margin: 25px 0 80px;
                img {
                    position: relative;
                    z-index: 2;
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(75, 115, 255, 0.7);
                    filter: blur(100px);
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    width: 100%;
                    height: 15px;
                    background: radial-gradient(50% 50% at 50% 50%, #171a1e 0%, rgba(23, 26, 30, 0) 100%);
                }
            }
            &-award-info {
                position: relative;
                display: flex;
                align-items: center;
            }
            &-award {
                white-space: nowrap;
                font-weight: 300;
                font-size: 12px;
                padding: 5px 10px;
                color: #2f53ff;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 100px;
                margin-right: 20px;
            }
            &-award-text {
                white-space: nowrap;
                font-weight: 300;
                font-size: 10px;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
    &__col2 {
        flex: 1 1 auto;
        padding-left: 45px;
        &__checklist {
            display: grid;
            grid-row-gap: 15px;
            grid-column-gap: 45px;
            grid-template-rows: repeat(5, 1fr);
            grid-auto-flow: column;
            &-item {
                display: inline-flex;
                align-items: center;
                text-align-last: left;
                &-img {
                    min-width: 20px;
                    max-width: 20px;
                    min-height: 20px;
                    max-height: 20px;
                    margin-right: 15px;
                }
                &-text p {
                    white-space: nowrap;
                    display: inline-block;
                    line-height: 1.2;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 0.7);
                }
                &-link {
                    white-space: nowrap;
                    display: inline-block;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: underline;
                }
                &.is-checked &-text * {
                    color: #2f53ff;
                }
            }
        }
    }
}

.row3 {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 170px 235px;
    grid-gap: 18px;

    &__col {
        background: #171a1e;
        border-radius: 17px;
        padding: 25px;
    }

    &__card {
        border-radius: 17px;
        padding: 12px 10px;
        &:nth-child(1) {
            background: #8089b066;
        }
        &:nth-child(2) {
            background: #168eb44d;
        }
        &:nth-child(3) {
            background: #42a4ff36;
        }
        &:nth-child(4) {
            background: #1f2d3e;
        }

        &-name {
            font-size: 10px;
            text-align: center;
        }

        &-img {
            position: relative;
            padding: 10px 0 10px;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__white-p {
        font-size: 15px;
        line-height: 1.1;
    }
    &__number {
        font-size: 32px;
        line-height: 1.4;
    }
    &__gray-a {
        color: rgba(255, 255, 255, 0.4) !important;
        white-space: nowrap;
    }

    &__col1 {
        grid-row-start: 1;
        grid-row-end: 3;

        &-top {
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-awards {
            margin: 30px 0 20px;
            display: grid;
            grid-template-rows: 110px 140px;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            .row3__card {
                &:first-child {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                &:only-of-type {
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
                &:nth-last-child(2):first-child {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                &:nth-child(2):last-child {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                &:nth-child(4):last-child,
                &:nth-child(3):last-child,
                &:nth-last-child(2):nth-child(2) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }
        }
    }

    &__col2 {
        grid-column-start: 2;
        grid-column-end: 4;

        display: flex;
        justify-content: space-between;
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-awards {
            flex: 1 1 auto;
            display: flex;
            position: relative;
            justify-content: end;
            .row3__card {
                margin-left: 18px;
                flex: 0 0 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    &__col3,
    &__col4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__col3 {
        background: url("../img/roto_big.svg") 85% bottom / contain no-repeat, #171a1e;
    }

    &__col4 {
        background: url("../img/ruble_big.svg") 85% bottom / contain no-repeat, #171a1e;
    }
}

.row4 {
    margin: 30px -15px;
    display: flex;
    flex-wrap: wrap;

    &__col1, &__col2 {
        flex: 1 1 40%;
        margin: 20px 15px;

        background: #171a1e;
        border-radius: 17px;
        padding: 25px;
    }

    &__col2 {
        position: relative;
        height: 400px;
    }
    
}

@media (max-width: 1279px) {
    .row1 {
        &__col1 {
            padding: 17px 20px;
            .user-avatar-wrapper {
                min-width: 60px;
                max-width: 60px;
                min-height: 60px;
                max-height: 60px;
            }
        }
        &__col2 {
            padding: 17px 20px;
        }
    }
    .row2 {
        max-width: calc(100vw - 41px);
    }
}
@media (max-width: 1023px) {
    .row3 {
        &__col1 {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &__col2 {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        &__col4 {
            grid-row-start: 2;
            grid-row-end: 3;
        }
        &__col3,
        &__col4 {
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
}
@media (max-width: 540px) {
    .row1 {
        &__col1 {
            &__user-info {
                margin: 0 0 0 auto;
            }
            .gray-btn {
                margin-top: 20px;
            }
        }
    }

    .row3 {
        &__col {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        &__col2 {
            grid-row-start: 3;
            grid-row-end: 4;

            &-awards {
                .row3__card {
                    &:nth-child(1),
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
        &__col3 {
            grid-row-start: 4;
            grid-row-end: 5;
        }
        &__col4 {
            grid-row-start: 5;
            grid-row-end: 6;
        }
    }
}
