@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "../../css/nullstyle";

$template_width: 1600;
@function relate($pc_size, $mob_size) {
    $add_size: 0;
    $add_size: calc(#{$pc_size} - #{$mob_size});
    $template_width: $template_width - 320;
    @return calc(#{$mob_size + px} + #{$add_size} * ((100vw - 320px) / #{$template_width}));
}

* {
    font-family: "Roboto", sans-serif;
}
html {
    background: #121416;
}
.body__wrapper {
    width: 100%;
    height: 100%;
}
.body {
    display: flex;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    background: #121416;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 100%;
    margin: 0 40px 0 345px;

    //////
    overflow-x: hidden;
}
.page {
    flex: 1 0 100%;
}
p,
span,
li,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    overflow: auto;
    display: none;
    &.is-active {
        display: flex;
    }
}
.modal {
    background: #121416 radial-gradient(circle, rgba(75, 115, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 4px 20px #000000;
    border-radius: 15px;
    padding: 45px 45px 35px;
    width: 430px !important;
    max-width: 90vw;
    margin: auto;
    z-index: 1001;
    .line-separator {
        margin-bottom: 40px;
    }
    .system-msg {
        margin: 30px 0 0;
    }
    .submit-btn {
        width: 100%;
        margin-top: 45px;
    }
}
.logo {
    display: flex;
    align-items: center;
    &-img {
        position: relative;
        min-width: 43px;
        max-width: 43px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-text {
        text-transform: uppercase;
        margin-left: 20px;
        font-weight: 700;
        letter-spacing: 0.35em;
        line-height: 1.2;
    }
}
.submit-btn {
    font-size: 15px;
    font-weight: 300;
    padding: 15px 10%;
    color: #fff;
    background: #2f53ff;
    display: inline-block;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 4px 15px -2px #2f52ffbd;
    }
    &.is-disabled {
        color: rgba(255, 255, 255, 0.4);
        background: rgba(47, 83, 255, 0.2);
        &:hover {
            box-shadow: none;
        }
    }
}
.swiper-pagination-bullet {
    background: #bbbbbb !important;
    opacity: 1 !important;
    border-radius: 4px !important;
    transition: width 0.3s ease;
    &-active {
        background: #fafafa !important;
        width: 32px !important;
    }
}
.unread {
    display: none;
    align-self: flex-start;
    margin-left: 20px;
    width: 5px;
    height: 5px;
    background: #eb001b;
    border-radius: 50%;
}
.counter {
    display: none;
    margin-left: 20px;
    padding: 5px 10px;
    font-weight: 300;
    background: rgba(47, 83, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    border-radius: 15.5px;
}

.page__navigation {
    display: flex;
    align-items: center;
    margin: -10px -10px 30px;
}
.page__tab {
    display: none;
    &.is-active {
        display: block;
    }
}
.page__tab-btn {
    color: #fff;
    background: none;
    padding: 12px 25px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    &.is-active {
        background: #2f53ff;
        border: none;
    }
}
.page__heading {
    position: absolute;
    top: 27px;
    left: 0;
    font-size: 32px;
}
.system-msg {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
}
.form-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;

    label {
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input {
        background: rgba(92, 92, 92, 0.14);
        border-radius: 5px;
        color: #fff;
        padding: 12px 17px;
        transition: 0.3s ease;
        border: 1px solid transparent;
        &:hover {
            box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.7);
        }
        &:focus {
            background: rgba(47, 83, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
        &.is-haserror {
            color: #eb001b;
            border: 1px solid #eb001b;
            & ~ .system-msg {
                color: #eb001b;
            }
        }
    }
    .system-msg {
        margin-top: 10px;
    }
}

.status-label {
    border-radius: 5px;
    font-size: 10px;
    line-height: 1.05;
    padding: 10px;
    &.is-disabled {
        background: rgba(242, 174, 20, 0.1);
        color: #f79e1b;
    }
    &.is-enabled {
        color: #00a76b;
        background: rgba(0, 167, 107, 0.15);
    }
}

.user-avatar-wrapper {
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;

    border-radius: 50%;
    overflow: hidden;
}
.user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-p {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
}
.list-smp {
    font-weight: 300;
    font-size: 12px;
}
.gray-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    padding: 12px 8%;
    color: #fff;
    transition: 0.3s ease;
    &:visited {
        color: #fff;
    }
    &:hover {
        box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.7);
    }
}
.tooltip {
    z-index: 10;
    position: relative;
    display: inline-block;
    cursor: pointer;

    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    margin-left: 10px;
    background: url("../../img/icons/tooltip_icon.svg") center / contain no-repeat;

    &:hover &-text {
        visibility: visible;
        appearance: auto;
        opacity: 1;
    }
    &-text {
        transition: 0.3s ease;
        visibility: hidden;
        appearance: none;
        opacity: 0;

        position: absolute;
        bottom: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        background: rgba(50, 53, 61, 0.85);
        padding: 11px;
        border-radius: 8px;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: rgba($color: #fff, $alpha: 0.85);
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
        white-space: nowrap;
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: calc(100% - 1px);
            transform: translateX(-50%);
            border-top: 10px solid rgba(50, 53, 61, 0.85);
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
        }
    }
}

.progress-step {
    position: relative;
    padding-bottom: 30px;
    margin-left: 30px;
    &:first-child {
        padding-top: 30px;
    }
    &:not(&:first-child) .progress-step-heading:after {
        content: "";
        position: absolute;
        left: -27px;
        top: -100%;
        width: 2px;
        height: 100%;
    }
    &-heading {
        &:before {
            content: "";
            position: absolute;
            left: -30px;
        }
    }
}

.line-separator {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.row__col {
    background: #171a1e;
    border-radius: 17px;
    padding: 25px;
}

.partner-table {
    tr {
        display: flex;
        justify-content: space-between;
    }

    .tg {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: calc(100vw + 150px);
        max-height: 320px;
        overflow: auto;

        scrollbar-width: thin;
        scrollbar-color: #a9a9a9 #2f3032;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #2f3032;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #bbbbbb;
            border-radius: 10px;
            border: 0px none #000000;
        }
    }

    .tg td {
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        padding: 10px 20px;
        word-break: normal;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        flex: 1 1 15%;
        &.partner-table-td--user {
            flex: 1 1 20%;
        }
        &.partner-table-td--lossall {
            flex: 1 1 10%;
        }
    }

    .tg th {
        padding: 10px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4);
        word-break: normal;
        text-align: left;

        flex: 1 1 15%;
        &.partner-table-th--user {
            flex: 1 1 20%;
        }
        &.partner-table-th--lossall {
            flex: 1 1 10%;
        }
    }

    &-td--user {
        flex-direction: row !important;
        justify-content: start !important;
        &-id {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.4);
            white-space: nowrap;
        }
        &-name {
            font-size: 15px;
            margin-bottom: 10px;
        }
        &-info {
            margin-left: 20px;
        }
    }
    &-td--regdate {
        &-days {
            color: rgba(255, 255, 255, 0.4);
            font-size: 10px;
        }
    }
}

.donutchart {
    position: relative;
    display: inline-block;

    //&-wrapper {}

    &-heading {
        margin-bottom: 35px;
        p {
            display: flex;
            justify-content: space-between;
        }
    }

    &-content {
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    &-ul {
        &-item {
            position: relative;
            display: flex;
            align-items: start;
            &:not(&:first-child) {
                margin-top: 25px;
            }
            &:before {
                content: "";
                position: relative;
                display: inline-block;
                top: 7px;
                margin-right: 15px;
                border-radius: 50%;
                overflow: hidden;
                border: 3px solid;
            }
            &:nth-child(1):before {
                border-color: #00ffa3;
            }
            &:nth-child(2):before {
                border-color: #2f53ff;
            }
            &:nth-child(3):before {
                border-color: #ffffff1f;
            }
            &:nth-child(4):before {
                border-color: #fff;
            }
            &-number {
                font-size: 20px;
                line-height: 1.4;
                margin-bottom: 5px;
            }
            &-description {
                font-weight: 300;
                font-size: 12px;
                line-height: 1.2;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    &-text {
        font-weight: 300;
        font-size: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}
.user-country-select {
    font-size: 0;
    padding: 10px 45px 10px 0px !important;
    color: rgba(255, 255, 255, 0.4) !important;
    overflow: hidden;

    option {
        font-size: 12px !important;
        color: #000 !important;
    }
}
.barchart {
    width: 100%;
    height: 100%;
    position: relative;
    &-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0px 15px 40px 55px;
        & > .line-separator {
            margin-left: -55px;
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        margin: 0 0 25px -55px;
        &-title {
            margin-right: 30px;
        }
        &-select {
            margin: 0 5px 0 auto;
            font-size: 12px;
            background: none;
            color: #cacaca;
            cursor: pointer;
        }
        &-option {
            color: #000;
        }
        &-radio {
            display: flex;
            align-items: center;
            margin-left: 45px;
            &-label {
                position: relative;
                font-size: 12px;
                color: #cacaca;
                cursor: pointer;

                &:before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 2px solid #000;
                    border-radius: 5px;
                }
            }
            &-btn {
                visibility: hidden;
                width: 0px;
                &.currency--roto + label:before {
                    filter: invert(27%) sepia(94%) saturate(4436%) hue-rotate(230deg) brightness(102%) contrast(102%);
                }
                &.currency--rubble + label:before {
                    filter: invert(72%) sepia(91%) saturate(1535%) hue-rotate(101deg) brightness(103%) contrast(101%);
                }
                &:checked + label:before {
                    background: url(../img/icons/checkboxes/checkmark.svg) center / contain no-repeat;
                }
            }
        }
    }
    &-heading {
        display: flex;
        margin: 25px 0 50px -55px;
        justify-content: space-between;
        &-legend {
            font-weight: 500;
            position: relative;
            display: flex;
            align-items: end;
            margin-right: 10px;
            &:before {
                content: "";
                display: inline-block;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                border: 8px solid;
                margin-right: 8px;
            }
        }
        &-total,
        &-total span {
            color: #f2ae14;
        }
    }
}

@media (max-width: 1279px) {
    .main {
        overflow-x: auto;
    }
    .main {
        margin: 0 0 0 73px;
    }
    .page {
        width: 100vw;
        padding: 0 15px 0 30px;
    }
    .page__heading {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 424px) {
    .barchart {
        &-wrapper {
            padding-right: 0;
            padding-left: 35px;
        }
        &-nav {
            flex-wrap: wrap;
            padding-left: 25px;
            &-title {
                margin-right: 5px;
            }
            &-radio {
                flex: 0 1 100%;
                margin: 12px 0 0 20px;
            }
        }
        &-heading {
            padding-left: 25px;
        }
    }
    .page__tab-btn {
        padding: 12px;
        margin: 10px 5px;
    }
}
